@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}
body{
  padding:1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper{
  width: 100%;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form__entries{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
  padding: 10px;
  padding-top: 0;
}

#TypeOfCurrency{
  margin: 1rem 0;
}


button {
  padding: 1px 6px 1px 6px;
  background-color: #e491de;
  /* border-radius: 5px; */
}

button:hover{
  background-color: #4158d0;
  padding: 2px 8px 2px 8px;
  color: #fff;
}

.Generate{
  text-align: center;
  padding-top: 18px;
}

.GeneratePrivateKey{
  text-align: center;
  padding-bottom: 18px;
}

.PrivateKey{
  text-align: center;
}

.PublicKey, .Address{
  text-align: center;
  padding-top: 20px;
}

#publicKeyText, #AddressText{
  resize: none;
}

textarea{
  border-width: 2px;
  border-color: black;
  width: 100%;
}

.input-data {
  border: 1px solid rgba(255, 0, 0, 0);
}

.form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width:990px) {
  .form {
      flex-direction: row;
      gap: 5rem;
    }
    .PublicKey,
    .Address {
      padding-top:0;
    }
    .form__entries{
      margin-top: 1.5rem;
    }
  
}
@media screen and (max-width:380px) {
  .form {
      gap: 0;
    }
  .wrapper {
      margin-top: 1rem;
  }
}